@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: rgb(68, 70, 84);
}
main {
  max-width: 390px;
  margin: 0px auto;
  padding-top: 170px;
}

.logo {
  text-decoration: none;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  font-family: "Fasthand", sans-serif;
}

.logoB {
  color: #a81919;
}

.mobilenavItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 45px 0 0 8px;
  text-align: center;
}

.mobilenavlinks {
  text-decoration: none;
  list-style: none;
  background-color:rgb(68, 70, 84);
  max-width:150px;
  padding: 10px;
  border-radius: 25px;
  color: #fff;
  border: 2px solid rgb(0, 183, 255);
}

.mobilenavlinks a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.mobilenavlinksactive {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.mobileMenu {
  position: fixed;
  width: 100%;
 align-items: center;
  background-color: #19c37d;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  z-index: 4;
}

.burger-menu {
  width: 4em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.burger-bar {
  margin: 3px 0;
  width: 2.5em;
  height: 0.4em;
  background-color: rgb(0, 183, 255);
  border-radius: 0.5em;
}

.menu {
  width: 50%;
  min-height: 100vh;
  background-color: rgb(154, 181, 240);
  position: absolute;
  top: 11%;
  z-index: 1;
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}


.burger-bar.clicked:nth-child(1){
  transform:  rotate(50deg) translate(0.2em, 1em);
  transition: ease-out 2s;
}

.burger-bar.clicked:nth-child(2){
  transform:  scale(0.1);
  transition: ease-out 2s;
}

.burger-bar.clicked:nth-child(3){
  transform:  rotate(149deg) translate(0.2em, 1em);
  transition: ease-out 2s;
}

.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.157, 0.885, 032, 1.276) 0,5s;
}

.dropdownMenu {
  display:none;
  
  }
  
  .dropdownMenu ul{
    display: block;
    margin: 10px;
  }

.sport {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }

  .info {
    color: bisque;
    padding: 5px;
    font-size: 12px;
    font-weight: 200;
    font-family: 'inter';
  }
.mainPost  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;;
}
.imgpost img {
    max-width: 100%;
    min-height: 190px;
  }

  .postTitle {
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    color:aquamarine;
  
  }

  .postParagh {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
  }

  form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58BC82;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 120px;
    /* position: relative; */
  }

  .formTitle {
    color: var(--bg-light);
    font-weight: 600;
    font-size: 2.3rem;
  }
  
  .form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
  }
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form input[type="password"]:focus {
    outline: 2px solid var(--clr);
  }
  
  .label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
  }

  
  form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: .9rem;
  }
  
  form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
  }
  
  .span {
    text-decoration: none;
    color: var(--bg-dark);
  }
  
  .span a {
    color: var(--clr);
  }

  
  .dropdownMenu1 {
    display: none;
  }
  
  .dropdownMenu ul li:hover .dropdownMenu1 {
    display: block;
    position: absolute;
  left: 120px;
  top: 28px;
  background-color:rgb(68, 70, 84);;
  }
  
  .mobilenavlinks:hover .dropdownMenu {
    display: block;
    position: absolute;
  right: 10px;
  background-color:rgb(68, 70, 84);;
  padding: 15px;
  }

.headerDesk {
  display: none;
}

.mobilenavlinks:hover {
  background-color:rgb(154, 181, 240);
  color: rgb(68, 70, 84);
  max-width:150px;
  border-radius: 25px;
  border: 2px solid rgb(0, 183, 255);
}

.mobilenavlinks a:hover {
  color: rgb(68, 70, 84);

}


@media all and (min-width: 768px) {
  .mobileMenuDiv {
    display: none;
  }

  main {
    max-width: 650px;
    margin: 0 auto;
    padding-top: 70px;
  }

  .headerDesk {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    background-color: #19c37d;
  }

  .logo {
    font-size: 40px;
    font-weight: 800;
  }
.navItem {
  display: flex;
  gap: 12px;
}

.navlinks {
  text-decoration: none;
  list-style: none;
  position: relative;
}

.navlinks a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.navlinksactive {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.navlinks  {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
} 

.dropdownMenu {
display:none;

}

.dropdownMenu ul{
  display: block;
  margin: 10px;
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

.dropdownMenu1 {
  display: none;
}

.dropdownMenu ul li:hover .dropdownMenu1 {
  display: block;
  position: absolute;
left: 150px;
top: 28px;
background-color:rgb(218, 223, 252);
margin: 15px;
}

.navlinks:hover .dropdownMenu {
  display: block;
  position: absolute;
left: 0;
top: 100%;
background-color:rgb(218, 223, 252);
padding: 15px;
}
}
