.topic {
    color:  #19c37d;
    padding: 1rem 0 2rem 0;
    font-size: 35px;
    font-weight: 700;
}

  .contanier {
    padding: 5rem 0.7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
