.container {
  max-width: 100rem;
  margin-inline: auto;
  padding: 4rem 0;
}
.Headlines {
  color: #19c37d;
  padding: 0 0 2rem 0;
  font-size: 35px;
  font-weight: 700;
}

.HeadlineWraper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0.1rem;
}

.stack {
  display: grid;
}

.stack > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.newsCard {
  aspect-ratio: 1 / 1;
}

.newsImg {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgb(116, 111, 114);
}

@media (min-width: 30em) {
  .newsCard.featured:first-child {
    grid-row: span 2;
    grid-column: span 2;
  }

  .newsCard.featured:first-child .newsImg {
    aspect-ratio: 1 / 1;
  }
}

.cardContent {
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
  align-self: end;
  text-align: start;
  z-index: 1;
  margin: 0.5rem;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  background-image: linear-gradient(
    179.4deg,
    rgba(38, 38, 38, 0) 0.81%,
    rgba(14, 28, 29, 0.9) 84.03%
  );
}
