.sportdiv {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.sportCard {
  background-color: #3c395f;
  border-radius: 20px;
  max-height: 400px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0, 18, green, blue, alpha);
}
.sportImgDiv {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.imgsport {
  width: 100%;
  max-height: 160px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 20px 20px 0 0;
}

.sportImgDiv:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.1;
}

.sportCard > .sportImgDiv::after {
  background-image: linear-gradient(135deg, #171729, #ec6bb4);
}

.sportContent {
  padding: 10px;
}

.sportSummary {
  color: #fff;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.sportTittle {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}
.sportauthor {
  color: rgb(139, 133, 129);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.sportCard:hover .sportImgDiv {
  filter: brightness(0.7);
}
